
body {
    background-color: black;
}
.welcome-container {
    position: absolute;
    left: 50vh;
    top: 20vh;;
    background-color: black;
}

.welcome-container img {
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}