.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.welcome-container img {
    max-width: 100%;
    max-height: 100%;
}